# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./AB_NYC_2019.csv')
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [15]:
# How many neighborhood groups are available and which shows up the most?
nhg = data.groupby(['neighbourhood_group']).count()['neighbourhood'].sort_values(ascending = False)
nhg

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood, dtype: int64

In [4]:
# Are private rooms the most popular in manhattan?
priv = data.loc[:][['neighbourhood_group', 'room_type']]
priv.groupby('room_type').count()['neighbourhood_group'].sort_values(ascending = False)

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: neighbourhood_group, dtype: int64

In [22]:
# Which hosts are the busiest and based on their reviews?

review = data.loc[:][['host_id', 'host_name', 'reviews_per_month']]
filled = review.fillna(0.0)
filled.groupby(['host_id', 'host_name']).sum()['reviews_per_month'].sort_values(ascending = False)

host_id    host_name
219517861  Sonder (NYC)    397.56
244361589  Row NYC         111.72
232251881  Lakshmee         80.63
26432133   Danielle         68.02
137274917  David            62.89
                            ...
23821373   Kaitlyn           0.00
23826651   Lorenzo           0.00
23833056   Mira              0.00
23835825   Adam              0.00
274321313  Kat               0.00
Name: reviews_per_month, Length: 37457, dtype: float64

In [6]:
#Which neighorhood group has the highest average price?
hood_price = data.loc[:][['neighbourhood_group', 'price']]
hood_price.groupby(['neighbourhood_group']).mean().sort_values(by = 'price',ascending = False)

                          price
neighbourhood_group
Manhattan            196.875814
Brooklyn             124.383207
Staten Island        114.812332
Queens                99.517649
Bronx                 87.496792

In [7]:
# Which neighbor hood group has the highest total price?
tot_hood_price = data.loc[:][['neighbourhood_group', 'price']]
tot_hood_price.groupby(['neighbourhood_group']).sum().sort_values(by = 'price',ascending = False)

                       price
neighbourhood_group
Manhattan            4264527
Brooklyn             2500600
Queens                563867
Bronx                  95459
Staten Island          42825

In [23]:
#Which top 5 hosts have the highest total price?
host_price = data.loc[:][['host_id', 'host_name', 'price']]
filled_price = host_price.fillna(0.0)
price_answer = filled_price.groupby(['host_id', 'host_name']).sum()['price'].sort_values(ascending = False)
price_answer.head()

host_id    host_name
219517861  Sonder (NYC)    82795
107434423  Blueground      70331
156158778  Sally           37097
205031545  Red Awning      35294
30283594   Kara            33581
Name: price, dtype: int64

In [47]:
# Who currently has no (zero) availability with a review count of 100 or more?

avail = data.loc[:][['host_id', 'host_name', 'number_of_reviews', 'availability_365']]
allSum = avail.groupby('host_id').sum(['number_of_reviews', 'availability_365'])
answer = allSum[(allSum['availability_365'] == 0) & (allSum['number_of_reviews'] >= 100)]
answer

           number_of_reviews  availability_365
host_id
7490                     118                 0
36897                    107                 0
79402                    168                 0
129352                   193                 0
193722                   114                 0
...                      ...               ...
155125855                125                 0
159156636                286                 0
176185168                119                 0
187487947                164                 0
209549523                241                 0

[136 rows x 2 columns]

In [28]:
# What host has the highest total of prices and where are they located?
host_price = data.loc[:][['host_id', 'host_name', 'price', 'neighbourhood_group']]
high_price = host_price.groupby(['host_id', 'host_name', 'neighbourhood_group']).sum().sort_values(by = 'price',ascending = False)
high_price.head(1)

                                            price
host_id   host_name    neighbourhood_group
219517861 Sonder (NYC) Manhattan            82795

In [11]:
# When did Danielle from Queens last receive a review?
dan_rev = data[(data['host_name'] == 'Danielle') & (data['neighbourhood_group'] == 'Queens')].sort_values(by='last_review', ascending = False)
dan_rev['last_review'].head(1)

22469    2019-07-08
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [33]:
hostListings = data.loc[:][['host_id', 'host_name', 'reviews_per_month', 'room_type']]
mostListing = hostListings.groupby(['host_id', 'host_name']).count()['reviews_per_month'].sort_values(ascending = False)
mostListing.head(1)

host_id    host_name
219517861  Sonder (NYC)    207
Name: reviews_per_month, dtype: int64

2. How many listings have completely open availability?

In [19]:
data[data['availability_365'] == 365].count()['id']

1295

3. What room_types have the highest review numbers?

In [20]:
priv = data.loc[:][['room_type', 'number_of_reviews']]
priv.groupby('room_type').sum()['number_of_reviews'].sort_values(ascending = False)

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

How many neighborhood groups are available and which shows up the most?
5 Neighborhood groups exist and Manhattan has the most listings.

Are private rooms the most popular in manhattan?
Private rooms make up about 45% of the rentals in Manhattan. It's not the most popular type of rental but it's not
too far behind either.

Which hosts are the busiest and based on their reviews?
Sonder (NYC) has the most reviews per month, indicating that he is the busiest host.

Which neighorhood group has the highest average price?
Manhattan has the highest average price, at almost $197 per night.

Which neighborhood group has the highest total price?
Manhattan has the highest total price. This is to be expected as it has the most listings and has the highest
average price.

Which top 5 hosts have the highest total price?
The 5 hosts with the highest total price are:
Sonder (NYC)    82795
Blueground      70331
Sally           37097
Red Awning      35294
Kara            33581

Who currently has no (zero) availability with a review count of 100 or more?
There are 136 hosts who have more than 100 reviews but have zero availability.

What host has the highest total of prices and where are they located?
Sonder (NYC), located in Manhattan, has the highest total of prices.

When did Danielle from Queens last receive a review?
Danielle last received a review on 07-08-2019

Which host has the most listings?
Sonder (NYC) has 207 listings

How many listings have completely open availability?
There are 1295 listings with 365 availability

What room_types have the highest review numbers?
Entire home/apt have the highest review numbers, which is to be expected because it also comprises the
most amount of listings.